<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>quagga_test</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js" integrity="sha512-bCsBoYoW6zE0aja5xcIyoCDPfT27+cGr7AOCqelttLVRGay6EKGQbR6wm6SUcUGOMGXJpj+jrIpMS6i80+kZPw==" crossorigin="anonymous"></script>
<style>
	#photo-area.viewport {
		height: 288px;
	}
	#photo-area.viewport canvas, video {
		float: left;
		height: 288px;
	}
	#photo-area.viewport canvas.drawingBuffer, video.drawingBuffer {
	   margin-left: -352px;
	}
</style>
</head>
<body>
<div>
	<h2>バーコードリーダ実装テスト</h2>
	※IMEIバーコード読取用に、バーコード種別は【CODE128】でスクリプトを設定しています.<br/>
  CODE128以外のバーコード読取は正常に動作しない見込みです。<br/>
	<br/>
	カメラにバーコードをかざすと、リアルタイムでバーコードの読取が開始します。<br/>
 （読取が開始しない場合には、バーコードを近づけたり遠ざけたりしてください）
	<div id="photo-area" class="viewport"></div>
	<h3>読取結果（30回読取を試行して、その中の最頻値を結果として出力）</h3>
	<div><strong><span id="r3"></span></strong></div>
	<h3>全試行の集計</h3>
	<div id="r2"></div>
	<h3>読取ログ</h3>
	<div id="r1"></div>
	<script>
		// もっとも頻度の多い配列要素を取得するメソッド実装
		Array.prototype.mode = function() {
			var set = [];
			var selfcopy = [];
			for(var i=0; i<this.length; i++) {
				var e = this[i];
				selfcopy.push(e);
				set.indexOf(e) < 0 && set.push(e);
			};
			var counter = {};
			set.forEach(function(key) {
				counter[key] = (function() {
					var _count = 0;
					for(var j=0; j<selfcopy.length; j++) {
						var val = selfcopy[j]
						val == key && (function() {
							_count++;
						})();
					};
					return _count;
				})();
			});
			var result = Object.keys(counter).reduce(function(k1, k2) {
				return counter.k1 >= counter.k2 && k1 || k2;
			});
			return [result, counter];
		};

		function esc(str) {
			return str.replace(/&/g, '&amp;')
				.replace(/</g, '&lt;')
				.replace(/>/g, '&gt;')
				.replace(/"/g, '&quot;')
				.replace(/'/g, '&#039;');
}

		// バーコードリーダの初期化 & 読取処理
		Quagga.init({
			inputStream: {
				name: "Live",
				type: "LiveStream",
				target: document.querySelector("#photo-area")
			},
			decoder: {
				renders: ["code_128_render"]
			}
		}, function(err) {
			Quagga.start();
		});
		Quagga.onProcessed(function(result) {
			var drawingCtx = Quagga.canvas.ctx.overlay;
			var drawingCanvas = Quagga.canvas.dom.overlay;
			result && result.boxes && (function() {
				drawingCtx.clearRect(
					0, 
					0, 
					parseInt(drawingCanvas.getAttribute("width")),
					parseInt(drawingCanvas.getAttribute("height"))
				);
				result.boxes.filter(function (box) {
					return box !== result.box;
				}).forEach(function(box) {
					Quagga.ImageDebug.drawPath(
						box, 
						{x: 0, y: 1}, 
						drawingCtx, 
						{color: "green", lineWidth: 2}
					);
				});
			})();
			result && result.box && (function() {
				Quagga.ImageDebug.drawPath(
					result.box,
					{x: 0, y: 1},
					drawingCtx,
					{color: "red", lineWidth: 3}
				);
			})();
			result && result.codeResult && result.codeResult.code && (function() {
				Quagga.ImageDebug.drawPath(
					result.line,
					{x: "x", y: "y"},
					drawingCtx,
					{color: "blue", lineWidth: 4});
			})();
		});

		var codeArr = [];
		var d = [new Date().getTime()];
		Quagga.onDetected(function (result) {
			console.log(result.codeResult.code);
			if (!d[0]) { d[0] = new Date().getTime(); }
			document.querySelector("#r1").innerHTML += "バーコード検出から" + (new Date().getTime()-d[0]) + "ミリ秒経過。取得結果: " + result.codeResult.code+"<br/>";
			codeArr.push(result.codeResult.code);
			codeArr.length > 29 && (function() {
				Quagga.stop();
				var r = codeArr.mode();
				var result = r[0];
				var counter = r[1];
				console.log("result", result);
				console.log("counter", counter);
				var html = "";
				Object.keys(counter).forEach(function(k) {
						html += '<tr><td>'+esc(k)+'</td><td>'+counter[k]+'</td></tr>'
				});
				document.querySelector("#r2").innerHTML
					= '<table><tr><th>読み取った値</th><th>読取回数</th></tr>'+html+'</table>'
				document.querySelector("#r3").innerText = result;
			})();
		});
		
	</script>	
</div>
</body>
</html>

